{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOCESS - Centre Marocain des Études et de Recherches sur le Développement Durable</title>
    <meta name="description" content="Centre Marocain des Études et de Recherches sur le Développement Durable (MOCESS) - Semons aujourd'hui les graines d'un monde durable.">
    
    <!-- Charger les fichiers CSS et JS du frontend React -->
    <link rel="stylesheet" href="{% static 'assets/index-efc30a9c.css' %}">
    <script type="module" crossorigin src="{% static 'assets/index-65427c22.js' %}"></script>
    
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'vite.svg' %}" />
</head>
<body>
    <div id="root"></div>
    
    <!-- Script pour gérer les erreurs -->
    <script type="module">
        window.onerror = (message, source, lineno, colno, errorObj) => {
            console.error('Erreur JavaScript:', message, source, lineno, colno, errorObj);
        };
    </script>
</body>
</html>
